
.container {
	
	border-radius: 20px;
	margin: 0 auto;
    width: 700px;
    height: 500px;
    background-color: #8b93a8
    

    
}

.choices {
	display: inline-flex;
	
}


body {
	font-size: 2em;
	text-align: center;
	font-family: 'Cuprum', sans-serif;
	font-weight: bold;
	background-color: #e1e3e8;
}

.banner, .question {
	margin: 20px;
	min-height: 50px;
}

header {
	margin:30px;
}

.bannerholder {
	min-height: 200px;
}

input {
	background-color: #6f7e96;
	border-radius: 10px;
	margin: 2px;
	width: 50px;


}

.result, .submit {
	width: 100px;
}