
.container {
	
	border-radius: 20px;
	margin: 0 auto;
    width: 700px;
    min-height: 600px;
    background-color: #8b93a8
    

    
}



body {
	font-size: 2em;
	text-align: center;
	font-family: 'Cuprum', sans-serif;
	font-weight: bold;
	background-color: #e1e3e8;
}

.banner, .question {
	margin: 20px;
	min-height: 150px;
}

header {
	margin:30px;
}

.bannerholder {
	min-height: 200px;
}

a {
	background-color: #6f7e96;
	border-radius: 10px;
	margin: 2px;
	width: 50px;


}

.aButton {
	display: flex;
	flex-direction: column;
	align-items: center;

}

#result, #submit, #show {
	width: 30%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}