body {
	text-align: center;
	font-family: 'Baloo Chettan', cursive;
	font-size: 1em;
	color: red;
	text-shadow: white;
}
header {
	margin: 5px 0px 5px 0px;
	font-size: 2em;
	font-family: 'Freckle Face', cursive;
	text-shadow: white 1px 1px;
}
.container {
	width: 1000px;
	min-height: 500px;
	max-height: 501px;
	margin: 0 auto;
	background-color: white;
	border-radius: 20px;
	background-color: #262626;
}
.banner {
	margin: 0 auto;
    font-size: 1.5em;
    
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
	
}
.scorepad {
	margin: 0 auto;
    font-size: 3em;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFF00;

	

}
.question {
	margin: 0 auto;
    font-size: 2em;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFF0
}
.qButton {
	margin: 5px 0px 5px 0px;
	min-height: 30px;
	padding: 5px;
}
.questionButton{
	display: inline-block;
	padding: 10px;
	background-color: #ffffcc;
	font-size: 1em;
	border-radius: 20px;
	width: 60px;
	height: 15px;
	box-shadow: 5px 5px 5px #888888;
}

.aButton {
	margin: 5px 0px 5px 0px;
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;

}

#submit, #show, #start, #reset, #next {
	margin: 0 auto;
	padding: 10px;
	background-color:#cc8500;
	color: black;
	font-size: 1em;
	border-radius: 20px;
	width: 100px;
	height: 15px;
	/*box-shadow: 2px 2px 2px #888888;*/
}
#submit{
	background: green;
}
#result {
	display: inline-block;
	width: 30%;
    background-color: white;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.con_board {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 300px;
	/*border-radius: 20px;*/
	
}
.score {
	width: 1000px;
	height: 400px;
	margin: 20px;
	align-content: center;
	background-color: white;
	border-radius: 20px;
	background-color: #262626;

}

#start:hover {
background:#00FF00;
}

#show:hover {
background:#00FF00;
}
#submit:hover {
background:#00FF00;
}
.questionButton:hover {
background:#00FF00;
}
#reset:hover {
	background:#00FF00;
}
#next:hover {
background:#00FF00;
}

footer {
	margin: 5px 0px 5px 0px;
	font-size: 2em;
	font-family: 'Freckle Face', cursive;
	text-shadow: white 1px 1px;
	color: red;
}



